<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="sports_db" connectionString="Data Source=db.cs.colman.ac.il;Initial Catalog=FinalProjSportsteam;persist security info=True;user id=sportsteam;password=sport@stream2018;"/>
  </connectionStrings>
</configuration>